.google_btn {
    transition: all .5s;
    padding: .3rem 2rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(211, 211, 211);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
    
    &:hover {
        background-color: rgb(143, 143, 143);
        cursor: pointer;
        box-shadow: .5rem .5rem 1rem rgba( #000000, .4);
        color: whitesmoke;
    }

    &:active {
        background-color: whitesmoke;
    }

    &:focus {
        outline: none;
        box-shadow: .5rem .5rem 1rem rgba( #000000, .4);
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.google_logo {
    width: 2rem;
    margin-right: 1rem;
}